<form method="post" action="{{ path('app_restaurant_category_delete', {'idCategory': restaurant_category.idCategory}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant_category.idCategory) }}">
    <button class="btn">Delete</button>
</form>
