{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}



{{ form_row(form.categoryName) }}
{{ form_row(form.categoryImage) }}

<button type="submit" class="btn btn-primary">Save</button>

{{ form_end(form) }}
