<tbody>
    {% for client in clients %}
        <tr>
            <td>{{ client.getIdClient() }}</td>
            <!-- Afficher d'autres propriétés de l'utilisateur -->
            <td>
                <div style="width: 92px;">
                    <form style="display: inline-block" action="{% if client.isBanned() %}{{ path('unban_client', {id: client.id}) }}{% else %}{{ path('ban_client', {id: client.id}) }}{% endif %}" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('ban') }}"/>
                        <button type="submit" class="btn btn-icon waves-effect rounded-pill confirm-text m-lg-1 {% if client.isBanned() %}btn-danger{% endif %}">
                            <i class="tf-icons {% if client.isBanned() %}text-success ti ti-check{% else %}text-danger ti ti-ban{% endif %}"></i> {% if client.isBanned() %}Unban{% else %}Ban{% endif %}
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    {% endfor %}
</tbody>
