<form method="post" action="{{ path('app_avisplat_delete', {'idAvis': avisplat.idAvis}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avisplat.idAvis) }}">
    <button class="btn">Delete</button>
</form>
